<div class="header">
  <h2>Contatos</h2>

  <span class="badge">{{ todosContatos.length }} Contacts</span>
</div>

<div class="pesquisa">
  <input
    placeholder="Search contacts..."
    name="termoBusca"
    [(ngModel)]="termoBusca"
    (input)="filtrarContatos()"
  />
</div>

<div class="contact-list">
  <div class="contact-card" *ngFor="let contato of contatosFiltrados">
    <div class="info">
      <div class="avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div>
        <h3>{{ contato.nome }}</h3>
        <p>{{ contato.telefone }}</p>
        <p>{{ contato.email }}</p>
      </div>
    </div>

    <div class="actions">
      <span class="tag">{{ contato.cargo }}</span>
      <a
        mat-raised-button
        (click)="abrirPopup(contato.id)"
        title="Editar"
        class="edit-btn"
      >
        <mat-icon>edit</mat-icon> 
        Editar
        </a>
      <a
        mat-raised-button
        [href]="'https://wa.me/' + contato.telefone"
        target="_blank"
        class="whatsapp-btn"
      >
        <mat-icon>chat</mat-icon>
        WhatsApp
      </a>
    </div>
  </div>
</div>
