<div class="form-div1">

<h1>Cadastro</h1>

<p>Preencha os campos abaixo para cadastrar um novo contato na sua agenda telefônica.</p>


<div class="form-div2">
 <form (ngSubmit)="salvarContato()" #form>
    <input class="input-ctt" placeholder="Nome" [(ngModel)]="novoContato.nome"/>
    <br />
    <input class="input-ctt" placeholder="Telefone" mask="(00) 90000-0000" [(ngModel)]="novoContato.telefone"/> 
    <br />
    <input class="input-ctt" placeholder="Email" type="email" [(ngModel)]="novoContato.email"/>
    <br />
    <input class="input-ctt" placeholder="Cargo" [(ngModel)]="novoContato.cargo"/>
    <br />
    <button class="SalveCtt" type="submit">{{buttonText}}</button>
 </form>
</div>

</div>